extends layout

block content
  .container.d-flex.flex-column.align-items-center.justify-content-center.h-100
    form(method='POST' action='' class="d-flex flex-column align-items-center p-4 rounded shadow")
      h1(class="text-center mb-4") #{title}
      div.form-group
        label(for='stageName') Stage Name:
        input#name.form-control(type='text', placeholder='The Cranberries, Phil Collins, etc.' name='stageName' value=(undefined===artist ? '' : artist.stageName), required='true')
      button.btn.btn-primary(type='submit') Submit

    if errors
      ul
      for error in errors
        li!= error.msg