extends layout 

block content 
  h1(class="text-center mb-5") What would you like to add?

  div(class="container")
    .row
      .col 
        .card.d-flex.flex-column.align-items-center.p-3
          h2 Artist
          .card-body.d-flex.flex-column.align-items-center
            img(class="card-img-top w-50 mb-4", src="/images/artistDefaultImage.png", alt="Add Artist")
            a(href="/catalog/artist/create", class="btn btn-primary") Select
      .col 
        .card.d-flex.flex-column.align-items-center.p-3
          h2 Band
          .card-body.d-flex.flex-column.align-items-center
            img(class="card-img-top w-50 mb-4", src="/images/artistDefaultImage.png", alt="Add Band")
            a(href="/catalog/band/create", class="btn btn-primary") Select