extends layout

block content
  h1(class="text-center jolly-font display-4") Welcome

  .container-fluid.p-5
    p - Delve into a curated selection of #{albumCount} albums, each a musical journey waiting to be discovered.

    p - Our #{artistCount} talented artists and bands have contributed their artistry, ensuring a diverse soundscape for every taste.

    p - Discover #{genreCount} unique genres that define the soul of each album and artist, from timeless classics to contemporary innovations.

    p - Browse #{stockCount} distinct albums for sale, each with its own story to tell, waiting to find a home in your collection.

    p - Vinyl Vortex is more than just a store; it's a haven for music enthusiasts like you. Start your musical adventure here.
    