extends layout

block content
  div
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto autem aut dolorum, voluptate harum perspiciatis eligendi fugit fugiat nam adipisci dolor quam labore, tempore itaque iure iste temporibus, saepe esse?
