@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Nunito+Sans:wght@300;500&display=swap');

:root {
  --texto: rgb(232, 236, 237);
  --fondo: rgb(11, 14, 14);
  --primario: rgb(55, 105, 118);
  --secundario: rgb(18, 34, 38);
  --acento: rgb(69, 155, 176);
  --acento-2: rgb(69, 176, 155);
}

* {
  font-family: 'Nunito Sans', sans-serif !important;
}

body {
  background-color: var(--fondo) !important;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: #eeeeee !important;
}

a:hover {
  text-decoration: none !important;
}

header {
  color: var(--texto);
  display: flex !important;
  align-items: center;
  background-color: var(--secundario);
}

header .button {
  background: rgb(52,60,50);
  background: linear-gradient(180deg, rgba(50, 58, 60, 0.2) 18%, rgba(83, 101, 99, 0.2) 78%);
  border-radius: 15px;
  outline: 1px solid rgba(83, 85, 101, 0.2);
}

header .button:hover {
  animation: gradientTransition 100ms;
  background: rgba(83, 101, 99, 0.2);
  box-shadow: 0px 0px 5px rgba(145, 163, 155, 0.3);
}

header img {
  height: 48px;
}

#navContainer img {
  height: 24px;
}

header h1 {
  margin: 0;
  font-size: 64px;
}

.jolly-font {
  font-family: 'Jolly Lodger', sans-serif !important;
}

main {
  color: var(--texto);
  background-color: var(--fondo);
  border-radius: 0 0 15px 15px;
  min-height: 65vh;
}

.card {
  padding-top: 12px !important;
  background-color: var(--secundario) !important;
}

.btn-primary {
  background-color: var(--acento-2) !important;
  border: 1px solid var(--acento-2) !important;
}

.btn-primary:hover {
  background-color: rgba(64, 219, 188, 0.35) !important;
  border: 1px solid white !important;
}

.btn-danger:hover {
  background-color: rgba(221, 37, 37, 0.35) !important;
  border: 1px solid white !important;
}

section {
  color: var(--texto);
  background-color: var(--primario);
}

section .button {
  background: rgb(32, 47, 54);
  background: linear-gradient(180deg, rgba(50, 58, 60, 0.5) 18%, rgba(83, 99, 101, 0.5) 78%);
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

section .button:hover {
  animation: gradientTransition 100ms;
  background: rgba(83, 99, 101, 0.6);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

form {
  background-color: var(--secundario);
}

input {
  background-color: #d1ffe9 !important;
  border-radius: 10px !important;
  border: none !important;
  outline: none !important;
}

footer {
  color: var(--texto);
  background-color: var(--secundario);
}

@keyframes gradientTransition {
  0% {
    background: rgba(111, 123, 122, 0.3);
  }
  50% {
    background: rgba(102, 119, 117, 0.3);
  }
  100% {
    background: rgba(83, 101, 99, 0.3);
  }
}
